version: 2
updates:
    -   package-ecosystem: "github-actions"
        directory: ".github/workflows"
        schedule:
            interval: "weekly"
        cooldown:
            default-days: 7
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "vendor-bin/phpstan"
        schedule:
            interval: "weekly"
        cooldown:
            default-days: 7
        groups:
            dependencies:
                patterns:
                    - "*"

    -   package-ecosystem: "composer"
        directory: "vendor-bin/php-cs-fixer"
        schedule:
            interval: "weekly"
        cooldown:
            default-days: 7
        groups:
            dependencies:
                patterns:
                    - "*"
