!/fixtures/Bridge/Symfony/Application/var/.gitkeep
!/fixtures/Bridge/Symfony/Application/var/cache/.gitkeep
/.php-cs-fixer.cache
/.php_cs.cache
/.phpunit.result.cache
/bin/
/composer.lock
/dist/
/fixtures/Bridge/Symfony/Application/cache/
/fixtures/Bridge/Symfony/Application/var/
/humbuglog.json
/humbuglog.txt
/vendor-bin/*/bin/
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/vendor/
