parameters:
    paths:
        - src
        - tests
    excludePaths:
        - fixtures/Bridge
        - src/Bridge
        - tests/Bridge
    level: 3
    ignoreErrors:
        # Prophecy
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'

        # False positives
