<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the Alice package.
  ~
  ~ (c) Nelmio <hello@nelm.io>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor-bin/symfony/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor-bin/symfony/vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         enforceTimeLimit="true"
         executionOrder="random"
>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <testsuites>
        <testsuite name="Independent tests">
            <directory>tests/Bridge/Symfony</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src/Bridge/Symfony</directory>
        </include>
    </coverage>
</phpunit>
