<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the Alice package.
  ~
  ~ (c) Nelmio <hello@nelm.io>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         enforceTimeLimit="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         executionOrder="random">

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Bridge</directory>
            <file>src/deep_clone.php</file>
        </exclude>

        <report>
            <clover outputFile="dist/clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Dependent tests">
            <file>tests/Definition/PropertyTest.php</file>
            <file>tests/Definition/PropertyBagTest.php</file>
            <file>tests/Definition/MethodCallBagTest.php</file>
            <file>tests/Definition/SpecificationBagTest.php</file>
            <file>tests/Definition/FlagBagTest.php</file>
            <file>tests/Definition/Fixture/SimpleFixtureTest.php</file>
            <file>tests/Definition/Fixture/SimpleFixtureWithFlagsTest.php</file>
            <file>tests/Definition/Fixture/TemplatingFixtureTest.php</file>
            <file>tests/Definition/ServiceReference/FixtureReferenceTest.php</file>
            <file>tests/Definition/Fixture/TemplatingTest.php</file>
            <file>tests/Definition/MethodCall/OptionalMethodCallTest.php</file>
            <file>tests/Definition/Value/FunctionCallValueTest.php</file>
            <file>tests/Definition/Value/FixtureMethodCallValueTest.php</file>
            <file>tests/Definition/Value/FixtureReferenceValueTest.php</file>
            <file>tests/Definition/Value/FixturePropertyValueTest.php</file>
            <file>tests/Definition/Value/FixturePropertyValueTest.php</file>
            <file>tests/Definition/Value/UniqueValueTest.php</file>
            <file>tests/ParameterTest.php</file>
            <file>tests/ParameterBagTest.php</file>
            <file>tests/FixtureBagTest.php</file>
            <file>tests/Definition/Object/SimpleObjectTest.php</file>
            <file>tests/ObjectBagTest.php</file>
            <file>tests/ObjectSetTest.php</file>
            <file>tests/FixtureSetTest.php</file>
            <file>tests/FixtureBuilder/BareFixtureSetTest.php</file>
            <file>tests/Generator/ResolvedFixtureSetTest.php</file>
            <file>tests/Generator/ResolvedValueWithFixtureSetTest.php</file>
            <file>tests/Generator/Resolver/Fixture/TemplatingFixtureBagTest.php</file>
            <file>tests/Generator/Resolver/UniqueValuesPoolTest.php</file>
            <file>tests/FixtureBuilder/ExpressionLanguage/TokenTypeTest.php</file>
            <file>tests/FixtureBuilder/ExpressionLanguage/TokenTest.php</file>
        </testsuite>
        <testsuite name="Independent tests">
            <directory>tests</directory>
            <exclude>tests/Bridge</exclude>
        </testsuite>
    </testsuites>
</phpunit>
