<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the Alice package.
  ~
  ~ (c) Nelmio <hello@nelm.io>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         enforceTimeLimit="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         executionOrder="random">

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <directory>src/Bridge</directory>
            <file>src/deep_clone.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="dist/clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
            <exclude>tests/Bridge</exclude>
        </testsuite>
    </testsuites>
</phpunit>
