name: CI

on:
    pull_request:
    push:
        branches: [ master, main ]
    schedule:
        - cron: '45 4 1 * *'

permissions: {}

jobs:
    tests:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        strategy:
            fail-fast: false
            matrix:
                php:
                    - '8.2'
                    - '8.3'
                    - '8.4'
                    - '8.5'
                symfony-versions:
                    - false
                    - '6.4.*'
                    - '7.4.*'

        name: PHP ${{ matrix.php }} ${{ matrix.description }} - ${{ matrix.symfony-versions }}
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false

            - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                  path: ~/.composer/cache/files
                  key: ${{ matrix.php }}-${{ matrix.symfony-versions }}

            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer, flex

            - name: Install dependencies
              run: composer install

            - name: Configure Symfony version
              run: echo "SYMFONY_REQUIRE=${{ matrix.symfony-versions }}" >> $GITHUB_ENV
              if: matrix.symfony-versions

            - name: Install bin dependencies
              run: composer bin symfony install
              if: matrix.symfony-versions

            - name: Run PHPUnit tests
              run: bin/phpunit
              if: false == matrix.symfony-versions

            - name: Run Symfony tests
              run: bin/phpunit --configuration phpunit_symfony.xml.dist
              if: matrix.symfony-versions

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the tests one above which
    # may change regularly.
    validate-tests:
        name: Tests status
        runs-on: ubuntu-latest
        needs:
            - tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
