name: CS & SA

on:
    pull_request:
    push:
        branches: [ master, main ]
    schedule:
        - cron: '45 4 1 * *'

permissions: {}

env:
    PHP_CS_FIXER_IGNORE_ENV: 1

jobs:
    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: '8.4'

            - name: Install dependencies
              run: composer install --no-progress --no-interaction --prefer-dist

            - name: Install dependencies
              run: composer bin php-cs-fixer install

            - name: Run script
              run: vendor-bin/php-cs-fixer/bin/php-cs-fixer fix --verbose --diff --dry-run

    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: '8.4'

            - name: Install dependencies
              run: composer install --no-progress --no-interaction --prefer-dist

            - name: Install dependencies
              run: composer bin phpstan install

            - name: Run script
              run: make phpstan
